<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>© : {{copyright}} </mat-card-subtitle>
    </mat-card-header>
    <div>
        <img *ngIf='media_type ==="image" ' (load)='showSpinner = false' mat-card-image class="img" src="{{url}}"
            alt="Photo of a {{title}}">
        <iframe *ngIf='media_type ==="video"' width="100px" height="100px" [src]='safeUrl' frameborder="0"
            allowfullscreen></iframe>
        <mat-spinner *ngIf='showSpinner && media_type==="image" '></mat-spinner>
    </div>
    <mat-card-actions>
        <button (click)='showMoreInfo()' mat-button>Show More Info</button>
    </mat-card-actions>
</mat-card>