/* .mat-toolbar{
    justify-content: space-around;
} */
.example-spacer {
    flex: 1 1 auto;
  }

img{
    border-radius: 50%;
    width: 90%;
    position: absolute;
    top: 7%;
    right: 6%;

}

