<mat-toolbar color="primary">
    <div style="    display: flex;align-items: center;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>grade</mat-icon>
        </button>
        <span>Nasa 2nd Task</span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>grade</mat-icon>
        </button>
    </div>
    <button (click)='r.navigateByUrl("landing")' mat-button>
        <mat-icon>home</mat-icon>
    </button>
    <button *ngIf='db.user$ | async' (click)='db.signOut()' mat-button>
       Log Out
    </button>
</mat-toolbar>