<div class="container">
    <h2 class="mat-display-2">Welcome To Nasa Image Finder</h2>
    <h1><u>Login</u></h1>
    <h2 style="color: red;" *ngIf='errorMsg'>{{errorMsg}}</h2>
    <h2>Enter your user details here :</h2>
    <form [formGroup]='loginForm'>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input (change)='getMailErrorMessage()' pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                formControlName='email' matInput placeholder="EX : moshep@moveo.co.il">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="loginForm.controls.email.invalid">{{formEmailErrorMsg}}</mat-error>
        </mat-form-field> <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input (change)='getPasswordErrorMsg()' formControlName='password' matInput
                [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="loginForm.controls.password.invalid">{{formPasswordErrorMsg}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div>

        <div *ngIf='db.user$ | async as user; else login'>
            <button (click)='db.signOut()' mat-raised-button color="primary">
                sign out
            </button><br><br>
        </div>
        <ng-template #login>
            <button (click)='handleSubmit()' mat-raised-button color="primary">
                <mat-icon>person_search</mat-icon>Login
            </button> <br><br>

            <button (click)='db.googleSignIn()' mat-raised-button color="primary">
                Login With <mat-icon>g_translate</mat-icon>
            </button>
            <button (click)='db.facebookSignIn()' mat-raised-button color="primary">
                Login With <mat-icon>facebook</mat-icon>
            </button> <br><br>
            <button (click)='r.navigateByUrl("register")' mat-raised-button color="primary">
                Dont have an account?
            </button>
        </ng-template>
    </div>
</div>