/* .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80%;
}
mat-form-field{
    width: 100%;
}

.mat-display-2{
    margin-top: 4%;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
} */