<div class="content">
    <h2 class="mat-display-2">Maps Api Example : </h2>
    <mat-form-field appearance="fill">
        <mat-label>Search Location</mat-label>
        <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
            matInput placeholder="Ex : Tel Aviv">
    </mat-form-field> <br>
    <h2><u>Search Routes :</u> </h2>
    <div class="directions">
        <mat-form-field appearance="fill">
            <mat-label>Origin</mat-label>
            <input ngx-google-places-autocomplete #placesRef="ngx-places"
                (onAddressChange)="handleOriginDirectionChange($event)" matInput placeholder="Ex : Tel Aviv">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Destination</mat-label>
            <input ngx-google-places-autocomplete #placesRef="ngx-places"
                (onAddressChange)="handleDestDirectionChange($event)" matInput placeholder="Ex : Tel Aviv">
        </mat-form-field>

    </div>
    <button style="height: 6%;width: 10%;" type="button" mat-raised-button color='primary' (click)="searchDirection()">
        Search <mat-icon>search</mat-icon>
    </button>
    <br>


    <agm-map [zoom]='15' [latitude]='mapService.mapCenterLat'
        [longitude]='mapService.mapCenterLng'>
        <agm-direction [travelMode]='mapService.travelMode' [origin]="mapService.origin"
            [destination]="mapService.destination">
        </agm-direction>

        <agm-marker *ngFor='let marker of mapService.markersArray' [latitude]="marker.lat" [longitude]="marker.lng">
        </agm-marker>
    </agm-map>
</div>