.content{
   
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

agm-map{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.mat-display-2{
    margin: 2% 0;
}

.directions {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}