<div class="content">
    <form [formGroup]='searchForm'>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input [max]='maxDate' formControlName='start_date' matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field> <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input [max]='maxDate' [min]='searchForm.value.start_date' formControlName='end_date' matInput
                [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </form>
    <button [disabled]='searchForm.invalid' (click)='searchImage()' mat-raised-button color="primary">
        Search
        <mat-icon>search</mat-icon>
    </button>
    <mat-spinner *ngIf='nasaApi.apiData.length < 0&& show'></mat-spinner>


</div>